*.log
*.pyc
*.swp
*.retry
*~
.*~
.DS_Store
.ropeproject
.svn
*.sqlite3
backup.*.html
test.*.yml
celerybeat-schedule.*
static
media
components
docs/build
logs
archives
drops/mails
upload
migrations
node_modules
src
IPAexfont00301
app/local_settings.py
update.bash

